Repository Tune-Manner/wisely-diary-backend, pull requests merged in 2024-08, with the labels that each got.

#80 Cartoon 중간 통합
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAiConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/entity/Cartoon.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/entity/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/repository/CartoonRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/CreateCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/SaveCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/presentation/CartoonController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/ChatGptService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/DalleApiService.java
Labels: merge

#79 Letter 중간 통합
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/JacksonConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/OpenAIConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/PGVectorStoreConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/PromptTemplateConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/DocumentUploadException.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/type/ExceptionCode.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/vectorstore/CustomPgVectorStore.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/entity/Diary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/entity/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/domain/entity/Letter.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/domain/repository/LetterRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/dto/request/CreateLetterRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/dto/response/CreateLetterResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/presentation/LetterController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/service/LetterService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/CreateMusicResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/MusicPlaybackResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoApiResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoClipResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/presentation/MusicController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/MusicService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/SunoApiService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/presentation/RAGController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/OpenAIService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/RAGService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/VectorStoreService.java
  backend/src/main/resources/docs/letter-phrase.txt
  build.gradle
Labels: merge

#81 STT 코드 중간 통합
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAIClientConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/client/OpenAIClient.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/controller/WhisperController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/TranscriptionRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/WhisperTranscriptionRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/WhisperTranscriptionResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/service/OpenAIClientService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/util/FileSplitter.java
  build.gradle
Labels: feature, backend

#82 중복 클래스 패키지 분리(실행 오류 해결)
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/entity/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/CreateCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/SaveCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/ChatGptService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/entity/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/domain/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/service/LetterService.java
  backend/src/main/resources/docs/message (1).txt
  build.gradle
Labels: fix

#86 #56 만화 조회
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/entity/Cartoon.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/repository/CartoonRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/response/InquiryCartoonResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/presentation/CartoonController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/ChatGptService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/DalleApiService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/JacksonConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/WebConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/domain/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/member/domain/entity/Member.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/member/domain/repository/MemberRepository.java
  backend/src/main/resources/cartoonImage/0ac67be7-fff2-4553-a3f9-0e3e00d2bedf.png
  backend/src/main/resources/cartoonImage/13b1c8a8-bbba-469f-85cb-3ca0d5e5f5ba.png
  backend/src/main/resources/cartoonImage/88d92392-316e-443e-b6d1-d2173cfafee6.png
  backend/src/main/resources/cartoonImage/897acdcf-83e1-4d45-8870-69873445d4d2.png
  backend/src/main/resources/cartoonImage/9a039115-e8bd-41bd-8d2f-ad5a37af42db.png
  backend/src/main/resources/cartoonImage/9b176779-09b4-45ba-9f6f-0450bc3c8457.png
  backend/src/main/resources/cartoonImage/9c35eca3-d58d-4bfd-a16d-759341c49207.png
  backend/src/main/resources/cartoonImage/a911ae04-18e2-47e3-a928-a3699c6e24a2.png
  backend/src/main/resources/cartoonImage/b9e5bb5a-3ed1-4f5c-9064-3de21d99cda8.png
  backend/src/main/resources/cartoonImage/faafe996-b02f-4e82-b6a1-e56dfd38f61a.png
  backend/src/main/resources/cartoonImage/fd13d4aa-618a-4175-abad-a0fd74553867.png
  backend/src/main/resources/cartoonImage/fdcf69f6-c141-45df-ae41-534254016d27.png
  build.gradle
Labels: merge, DB, backend

#87 #67 음악 생성 api 버전 변경
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAIClientConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAiConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/entity/Cartoon.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/domain/repository/CartoonRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/CreateCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/request/SaveCartoonRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/presentation/CartoonController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/ChatGptService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/DalleApiService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/JacksonConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/OpenAIConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/PGVectorStoreConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/PromptTemplateConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/DocumentUploadException.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/type/ExceptionCode.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/vectorstore/CustomPgVectorStore.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/entity/Diary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/domain/DiarySummary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diarysummary/repository/DiarySummaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/domain/entity/Letter.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/domain/repository/LetterRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/dto/request/CreateLetterRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/dto/response/CreateLetterResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/presentation/LetterController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/service/LetterService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/domain/entity/Music.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/domain/repository/MusicRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/reponse/CreateMusicResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/reponse/SunoApiResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/reponse/SunoClipResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/request/CreateMusicRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/request/SunoApiRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/CreateMusicResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/LyricsGenerationResult.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/MusicPlaybackResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoApiResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoClipResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/presentation/MusicController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/MusicService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/SunoApiService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/presentation/RAGController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/OpenAIService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/RAGService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/VectorStoreService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/client/OpenAIClient.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/controller/WhisperController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/TranscriptionRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/WhisperTranscriptionRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/dto/WhisperTranscriptionResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/service/OpenAIClientService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/util/FileSplitter.java
  backend/src/main/resources/docs/letter-phrase.txt
  backend/src/main/resources/docs/message (1).txt
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: feature, refactor, backend

#91 #90 fix: VectorDB 저장 로직 수정
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/PGVectorStoreConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/presentation/RAGController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/rag/service/VectorStoreService.java
Labels: bug, fix, backend

#94 #48 이미지 다중 업로드
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/S3Config.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/vectorstore/CustomPgVectorStore.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/domain/entity/Image.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/domain/repository/ImageRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/presentation/ImageController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/service/ImageService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/service/ImageServiceImpl.java
  build.gradle
Labels: feature, backend

#93 feature: 오류해결 및 달력 연동
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/entity/Diary.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/member/domain/entity/Member.java
Labels: feature, fix, backend

#95 #48 이미지 삭제 기능 수정 및 CRD 기능 테스트 완료
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/ResourceNotFoundException.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/S3OperationException.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/service/ImageServiceImpl.java
Labels: bug, test, fix, backend

#98 #39 감정통계 월별 조회
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/domain/entity/Emotion.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/domain/repository/EmotionRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/dto/request/EmotionRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/dto/response/EmotionResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/presentation/EmotionController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/service/EmotionService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/member/domain/entity/Member.java
Labels: backend

#100 #11, #29 텍스트 일기 생성 기능 개발
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
Labels: feature, backend

#101 #97 만화 조회 시 Response 수정
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/dto/response/InquiryCartoonResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
Labels: refactor, backend

#104 #9, #29 STT를 활용한 일기등록 구현
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/controller/WhisperController.java
Labels: feature, backend

#105 #47 EmotionService 테스트 코드 작성 (for Github Actions)
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/service/EmotionService.java
  backend/src/test/java/tuneandmanner/wiselydiarybackend/emotion/service/EmotionServiceTest.java
Labels: test, backend

#108 #102 만화와 편지 만화 생성 로직 수정
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/presentation/CartoonController.java
Labels: refactor, backend

#110 #103 편지 생성 로직 추가 수정 (생성 재확인 시 필요한 로직)
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/domain/repository/LetterRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/presentation/LetterController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/letter/service/LetterService.java
Labels: refactor, backend

#111 #1 사용자 일기 조회
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/dto/response/DiaryDetailResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/presentation/DiaryController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
Labels: backend

#112 #47 yml 환경변수 injection failed 수정
  .github/workflows/gradle.yml
  .gitignore
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAIClientConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/AwsProperties.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/S3Config.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/SupabaseProperties.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/SupabaseStorageService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/client/OpenAIClient.java
  backend/src/test/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplicationTests.java
  build.gradle
Labels: bug, fix, devops, backend

#113 #25 음악 생성 및 조회 로직 변경
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/exception/type/ExceptionCode.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/domain/entity/Music.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/domain/repository/MusicRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/request/CreateMusicRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/request/SunoApiRequest.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/CreateMusicResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/LyricsGenerationResult.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/MusicPlaybackResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoApiResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/dto/response/SunoClipResponse.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/presentation/MusicController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/MusicService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/music/service/SunoApiService.java
  gradle/wrapper/gradle-wrapper.properties
Labels: refactor, fix, backend

#114 #30 #49 #53 EC2 배포용 deploy.yml 생성
  .github/workflows/deploy.yml
Labels: devops, backend

#116 #30 #49 #53 deploy.yml 수정, CORS 해결
  .github/workflows/deploy.yml
  .github/workflows/gradle.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/WebConfig.java
Labels: bug, fix, devops, backend

#119 setup/github-actions -> dev 코드 통합
  .github/workflows/deploy.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/WebConfig.java
Labels: merge, backend

#120 fix: EnableConfigurationProperties
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
Labels: bug, backend

#121 fix: main 메소드 , OpenAiConfig 클래스 수정
  .github/workflows/deploy.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAiConfig.java
Labels: bug, backend

#122 fix: 만화 생성 후 로컬에 저장 안하고 바로 Supabase 에 업로드하도록 변경
  .github/workflows/deploy.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/config/CartoonConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/cartoon/service/CartoonService.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/SupabaseStorageService.java
Labels: bug, backend

#123 #39 감정통계 같은 비율일때 emotion_code우선순위로 변경
  backend/src/main/java/tuneandmanner/wiselydiarybackend/emotion/service/EmotionService.java
Labels: refactor, backend

#124 #1 일기 조회시 날짜 별 안내 메세지 변경
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
Labels: refactor, backend

#125 fix: STT 파일 처리 로직, Suno 토큰 처리 로직
  .github/workflows/deploy.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/WiselyDiaryBackendApplication.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAIClientConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/auth/config/OpenAiConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/FeignConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/FileUploadProperties.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/common/config/MultipartConfig.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/client/OpenAIClient.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/controller/WhisperController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/service/OpenAIClientService.java
  build.gradle
Labels: bug, devops, backend

#128 fix: DiaryService getDiaryContents 일기 조회 로직 수정
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
Labels: bug, DB, backend

#129 setup/github-actions -> dev 병합
  .github/workflows/gradle.yml
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/domain/repository/DiaryRepository.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/diary/service/DiaryService.java
Labels: merge, backend

#130 fix: 첨부 사진 없을 때도 일기 생성되게 수정
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/presentation/ImageController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/service/ImageServiceImpl.java
Labels: bug, backend

#131 chore: transcription 결과 로깅 추가
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/presentation/ImageController.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/imagesubmit/service/ImageServiceImpl.java
  backend/src/main/java/tuneandmanner/wiselydiarybackend/stt/service/OpenAIClientService.java
Labels: refactor, backend
